services:
  db: 
    image: postgres:17
    container_name: social-db
    environment:
      POSTGRES_DB: socialnetwork
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: adminpassword
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - 5433:5432

volumes:
  db_data:
