{{define "subject"}} Comfirmación de registro en Social Network {{end}}

{{define "body"}}
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body> <p>Hi {{.Username}},</p>
    <p>Gracias por registrarte en Social Network. Estamos emocionados de tenerte en la plataforma!</p></p>
    <p>Antes de que puedas empezar a usar Social Network, necesitas confirmar tu email. Haz click en el link de abajo para confirmar tu email:</p>
    <p><a href="{{.ActivationURL}}">{{.ActivationURL}}</a></p>
    <p>Si quieres activar tu cuenta manualmente, copia y pega el codigo del link de arriba</p>
    <p>Si no te registraste en Social Network, puedes ignorar este email.</p>

    <p>Gracias,</p>
    <p>El equipo de Social Network</p>
  </body>
</html>

{{end}}